footer, header {
  width: 100vw;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: -webkit-linear-gradient(105deg, transparent 55%, #004E95 45%);
}

h1, h3, h5 {
  font-family: 'Playfair Display', Times, serif;
}

div, p {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.header-image {
  margin-top: 20px;
  max-height: 350px;
  object-fit: contain;
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
}

.image-text {
  position: absolute;
  bottom: 5px;
  font-size: 50px;
  width: 100%;
  font-weight: 100;
  margin: 0px;
}

h3 {
  font-size: 35px;
  text-align: center;
  font-weight: 100;
  margin: 10px;
}

.about-text {
  font-size: 18px;
  margin: 10px;
  font-weight: 100;
}

.about-link-container {
  text-align: center;
}

.about-container {
  max-width: 500px;
  /* margin: 20px; */
  display: flex;
  flex-direction: column;
}

.link-image {
  max-width: 30px;
  margin: 5px;
}

h5 {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin: 10px;
}

section {
  margin: 20px;
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  max-width: 300px;
  min-width: 250px;
  margin: 20px;
  box-shadow: 1px 1px 10px rgb(62, 62, 62);
  display: flex;
  flex-direction: column;
}

.project-image {
  width: 100%;
}

.project-info {
  width: 100%;
  max-height: 150px;
  display: flex;
  flex-direction: column;
}

.project-header {
  display: flex;
  justify-content: space-around;
  margin: 5px;
}

.project-links {
  display: flex;
  align-items: center;
  align-content: space-between;
}

.project-link {
  width: 25px;
  margin: 5px;
}

.project-info p {
  margin: 15px;
}

footer {
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: #004E95;
}

.contact-info {
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 300px;
}

.contact-text {
  font-size: 18px;
}

.contact-address, .contact-number-email {
  font-size: 14px;
}

.contact-image {
  max-height: 300px;
  max-width: 100vw;
  object-fit: fill; 
}

.contact-link-container {
  display: flex;
  justify-content: center;
}

@media (min-width: 800px) {
  .about-container, .header-image {
    box-shadow: 1px 1px 10px rgb(62, 62, 62);
  }

  .about-container {
    /* display: inline-block; */
    background-color: white;
    /* transform: translate(0%, 30%); */
  }

  .image-container {
    position: relative;
    z-index: 1;
    /* transform: translate(-50%, 0%); */
  }

  @media (min-width: 1100px) {
    .about-container, .header-image {
      box-shadow: 1px 1px 10px rgb(62, 62, 62);
    }
  
    .about-container {
      background-color: white;
    }
  
    .image-container {
      position: relative;
    }
  }
}