footer, header {
  background-color: rgb(91, 192, 255);
}

body {
  margin: 0;
  padding: 0;
}

.header-image {
  width: 90vw;
  max-height: 350px;
  object-fit: contain;
  margin-top: 20px;
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
}

.image-text {
  position: absolute;
  bottom: 5px;
  font-size: 50px;
  width: 100%;
  font-weight: 100;
  margin: 0px;
}

.about-header {
  font-size: 35px;
  text-align: center;
  font-weight: 100;
  margin: 10px;
}

.about-text {
  font-size: 20px;
  margin: 10px;
  font-weight: 100;
}

.about-link-container {
  text-align: center;
}